<div class="container">

  <h1>Login</h1>

  <div class="alert alert-warning" *ngIf="isInvalidCred">{{ invalidCredMsg }}</div>

  <div class="container-fluid">
    Username: <input type="text" name="email" [(ngModel)]="email">
    Password: <input type="password" name="password" [(ngModel)]="password">
    <button class="btn btn-primary" (click)="handleLogin()">Login</button>
    <!--    <button class="btn btn-primary" (click)="handleBasicAuthLogin()">Login</button>-->
<!--    <button class="btn btn-primary" (click)="handleJwtAuthLogin()">Login</button>-->
  </div>

</div>
