<div class="container">

  <H1>Item</H1>

  <div class="container">
    <div class="alert alert-warning" *ngIf="itemForm.dirty && itemForm.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="itemForm.dirty && price.invalid">Enter valid price</div>
<!--    <div class="alert alert-warning" *ngIf="itemForm.dirty && priority.invalid">Enter atleast 5 characters in Description</div>-->

    <form (ngSubmit)="!itemForm.invalid && saveItem()" #itemForm="ngForm">
      <fieldset class="form-group">
        <label>Name</label>
        <input type="text" #name="ngModel"
               [(ngModel)]="item.name" class="form-control"
               name="name" required="required">
      </fieldset>

      <fieldset class="form-group">
        <label>Price</label>
        <input type="text" #price="ngModel"
               [ngModel]="item.price"
               class="form-control" name="price" required="required" >
      </fieldset>

      <!--               (ngModelChange)="item.price = $event"-->

      <fieldset class="form-group">
        <label>Priority</label>
        <input type="text" #priority="ngModel"
               [ngModel]="item.priority"
               class="form-control" name="priority" required="required" >
      </fieldset>

      <button type="submit" class="btn btn-success">Save</button>
<!--      <button class="btn btn-success" (click)="saveItem()">Save</button>-->
    </form>
  </div>

</div>
